.new-employee-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.new-employee-title {
    margin-top: 8rem;
    font-weight: 700;
}

.new-employee-form {
    margin-top: 16px;
    padding-top: 56px;
    padding-bottom: 56px;
    background-color: rgb(255, 251, 218);
    flex-direction: column;
    width: 560px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
}

.form-control,
.form-label {
    width: 400px;
    font-weight: 500;
}

.new-employee-buttons {
    margin-top: 1rem;
}